
  
  .paragraph1 {
    position: absolute;
    margin-left: 176px;
    top: 900px;
  }

  .comment {
  position: absolute;
  top:1610px;
  left: 79.5%;
  font-size: 14px;
  font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif;
  }

  .comment1 {
    position: absolute;
    top:2960px;
    left:170px;
    font-size: 14px;
    font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif;
    }

    .comment2 {
      position: absolute;
      width: 700px;
      top:3900px;
      left:170px;
      font-size: 14px;
      font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif;
      }

      .comment3  {
        position: absolute;
        
        top:4925px;
        left:170px;
        font-size: 14px;
        font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif;
        }

        .comment4 {
          position: absolute;
          width: 100em;
          top:5701px;
          left:178px;
          font-size: 14px;
          font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif; 
        }

        .caps p{
          max-width: 50%;

        }

  .first {
    position: absolute;
    width: 45%;
    top: 910px;
    left: 700px;
    
  }

  .paragraph2 {
    position: absolute;
    margin-left: 870px;
    top: 2090px;
  }

  .second {
    position: absolute;
    width: 45%;
    top: 2090px;
    left: 12%; 
    
}

.third {
  transform: rotate(-90deg);
  position: absolute;
  width: 57%;
  top: 2910px;
  left: 23%;
  
}

.fourth {
  position: absolute;
  width: 28%;
  top: 4030px;
  left: 63%;
  box-shadow: 2px 6px 12px #b3b0b0; 
}

.fifth {
  position: absolute;
  width: 28%;
  top: 4540px;
  left: 63%;
  box-shadow: 2px 6px 12px #b3b0b0; 
}

.six {
  position: absolute;
  width: 45.8%;
  top: 4030px;
  left: 12%;
  box-shadow: 2px 6px 12px #b3b0b0; 
}

.seven {
  position: absolute;
  width: 36%;
  top: 5060px;
  left: 12%;
  box-shadow: 2px 6px 12px #b3b0b0; 
}

.eight {
  position: absolute;
  width: 36%;
  top: 5060px;
  left: 55%;
  box-shadow: 2px 6px 12px #b3b0b0; 
}

.black-area{
  top: 410em;
}





