body{
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
}

.menu-list{
  font-size: 60px;
  line-height: 1.5em;
  list-style: none;
  position: absolute;
  top: 2em;
  left: 1em;
}

.menu-list li{
  margin: 0 0 .5em 0;
}

.menu-list li a{
  color: var(--main-txt-color);
}

.close{
  position: absolute;
  top: 2.5em;
  left: 84em;
  height: 3em;
}

@media only screen and (max-width: 400px){
  body{
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  }
  .menu-list{
    font-size: 2em;
    line-height: 2em;
    list-style: none;
    position: absolute;
    top: 3.5em;
    left: 0.3em;
    z-index: 8;
  }
  .menu-list li{
    margin: 0 0 .5em 0;
  }
  .menu-list li a{
    color: var(--main-txt-color);
  }
  .close{
    position: absolute;
    top: 2.5em;
    left: 19em;
    height: 2em;
  }

}