* {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --main-bg-color: #E5E3E3;
  --main-txt-color: #1a1a1a;
  --second-txt-color: #548a89;
}

/* -----Fonts & Sizes------ */

/* magazine-title */
h1{
  font-family: 'montserrat', 'raleway bold', 'helvetica bold', sans-serif;
  font-size: 45px;
  font-weight: 645;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

/* article-titles */
h2{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 70px;
  font-weight: 400;
}

/* sub-titles */
h3{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: var(--second-txt-color-color);
}

/* CTA -> Back to top + Articles */
h4{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--second-txt-color-color);
}

/* paragraphs */
p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1.6;
  color: var(--second-txt-color-color);
}

/* captions */
.captions {
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 18px;
  color: var(--second-txt-color-color);
}

a{
  cursor: -moz-grab;
  margin: 0;
}

body{
  min-height: 140em;
  width: 100vp;
  overflow-x: hidden;
  background-color: rgba(129, 115, 115, 0.226);
}


/* ------Navigation------ */

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 4em;
  background-color: #fff;
  opacity: 100%;
  z-index: 1;
  display: flex;
}
nav:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
}
nav a{
  display: inline-block;
}

.logo{
  margin-top: 1em;
  margin-left: 1em;
  height: 3em;
}

.hb{
  position: fixed;
  top: 1.5em;
  left: 1.5em; 
  display: block;
  margin-left: 18.3em;
  margin-top: -0.8em;
    background-image: url(/assets/mobile/Hamburgermobile.svg);
    background-repeat: no-repeat;
    /* background-color: transparent; */
  height: 3em;
  width: 3em;
  z-index: 5;
}



/* ------Top Area------ */

.title{
  position: absolute;
  top: 6.5em;
  left: 0.9em;
  z-index: -1;
}
.line{
  height: 0.25em;
  width: 19em; 
  background-color: var(--main-txt-color);
  position: absolute;
  top: 21.9em;
  left: 2.1em;
  z-index: -1;
}
.circle{
  height: 6em;
  width: 6em;
  border-radius: 50%;
  background-color: #1a1a1a;
  position: absolute;
  top: 53%;
  left: 35%;
  z-index: -1;
}
.arrowdown{
  position: absolute;
  top: 37em;
  left: 9em;
  height: 9%;
  opacity: 80%;
}


/* ------Background Green------- */

.green-area{
  width: 100vp;
  height: 117em;
  background-color: #b7c5c5;
  position: relative;
  top: 29.9em;
  z-index: -1;
  box-sizing: border-box;
  padding: 30px; 
  margin-bottom: 10em;
}
.green-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(8deg);
  box-shadow: 6px 6px 0px #b3b0b0;
}
.green-area:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-8deg);
}
.bg-img{
  background-image: url(/assets/mobile/bg-mobile-1.svg);
  width: 100%;
  height: 1034px;
  background-repeat: no-repeat;
  background-size: cover; 
  position: fixed;
  opacity: 60%;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ------Articles area------ */

/* #title-article-area{
  position: absolute;
  top: 30em;
  left: 7.8em;
  z-index: 4;
} */

#article-section{
  height: 35em;
  max-width: 375px;
  position: absolute;
  top: 45em;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

/* -----------------CARD------------------- */
    
.card {
  display: flex;
  float: left;
  width: 340px;
  height: 160px;
  margin: 0.5em auto 0.5em 0.1em;
  background-color: var(--main-bg-color);
  box-shadow: 2px 6px 12px #b3b0b0;
  position: relative;
}
.image {
  display: block;
  width: 150px;
  height: 120px;
  height: auto;
  margin: 0em;
}
.text {
  font-size: 16px;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  color: var(--second-txt-color-color);
  /* margin: 2.4em 1.9em 1.9em 2.5em; */
  margin: 1.3em;
  text-align: left;
  z-index: 3;
}
.text h5{
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 0.5em;
  line-height: 1.3;
}
.text p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.3;
  font-size: 12px;
  letter-spacing: 0.2px;
}
h6 {
  text-transform: uppercase;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 11px;
  font-weight: lighter;
  margin-top: 1.2em;
}
a{
  text-decoration: none;
  color: var(--main-txt-color)
}
.save{
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 20px;
  width: 15px;
  opacity: 50%;
}
/* --------Quote Area------- */

.quote{
  width: 14em;
  position: absolute;
  top: 123em;
  left: 11%;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}

.quote span{
  font-size: 14px;
  text-align: right;
  line-height: 4;
  margin-left: 11.5em;
}

/* -------Footer------- */

.black-area{
  width: 100%;
  height: 23em;
  background-color: #1a1a1a;
  position: relative;
  top: 52em;
  box-sizing: border-box;
}
.black-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(6deg);
}
.arrowup{
  position: absolute;
  top: 0em;
  left: 9em;
  /* height: 10%; */
  z-index: 7;
}
.social-icons{
  position: absolute;
  top: 13.5em;
  left: 9%;
  background-size: 80%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.social-icons a{
  display: inline-block;
  padding: 2em;
  background-color: transparent;
}
.subscribe{
  position: absolute;
  left: 1em;
  bottom: 11em;
}
.subscribe p{
  color: var(--main-bg-color);
  font-size: 16px;
  font-weight: 300;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  letter-spacing: 0.8pt;
  margin-bottom: 0.5em;
}
.subscr-box{
  width: 21.5em;
  height: 3em;
  border: solid 1px white;
  z-index: 7;
  padding: 0.95em 1em 1em;
  color: rgb(128, 126, 126);
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;

}
.copyright{
  position: absolute;
  bottom: 1em;
  left: 5em;
}
.copyright p{
 font-size: 12px;
 color: var(--main-bg-color);
 font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
}


