* {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --main-bg-color: #E5E3E3;
  --main-txt-color: #1a1a1a;
  --second-txt-color: #548a89;
}

/* -----Fonts & Sizes------ */

/* magazine-title */
h1{
  font-family: 'montserrat', 'raleway bold', 'helvetica bold', sans-serif;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media only screen and (max-width: 400px){
  h1{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  }

/* article-titles */
h2{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 70px;
  font-weight: 400;
}

/* sub-titles */
h3{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: var(--second-txt-color-color);
}

/* CTA -> Back to top + Articles */
h4{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--second-txt-color-color);
}

/* paragraphs */
p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1.6;
  color: var(--second-txt-color-color);
}

/* captions */
.captions {
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 18px;
  color: var(--second-txt-color-color);
}

a{
  cursor: -moz-grab;
  margin: 0;
}

body{
  min-height: 140em;
  overflow-x: hidden;
  background-color: rgba(129, 115, 115, 0.226);
}


/* ------Navigation------ */

/* #top-of-page{
  position: fixed;
} */

.logo{
    position: fixed;
    top: 2em;
    left: 2.9em;
    height: 5em;
    z-index: 3;
}
.logo:hover{
  background-color: transparent;
}

nav{
  margin: 2.5em 2em 1.5em auto;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  position: fixed;
  right: 1em; 
}

nav a{
  padding: 2em 0.2em;
  text-decoration: none;
  color: var(--main-txt-color);  
  font-size: 16px;
  text-transform: uppercase;
}

.hb{
  top: 1.5em;
}


/* ------ Mobile - Navigation ------ */

@media only screen and (max-width: 400px){
  .logo{
    top: 1.5em;
    left: 1.5em;
    height: 3em;
  }
  nav{
    display: none;
  }
}


/* ------Top Area------ */

.title{
  position: fixed;
  top: 41%;
  left: 19.7%;
  z-index: -5;
}
.line{
  height: 0.8em;
  width: 60em; 
  background-color: var(--main-txt-color);
  position: fixed;
  top: 60.1%;
  left: 16%;
  z-index: -4;
}
.circle{
  height: 11em;
  width: 11em;
  border-radius: 50%;
  background-color: #1a1a1a;
  position: absolute;
  top: 61.6%;
  left: 44%;
  z-index: -3;
}
.arrowdown{
  position: absolute;
  top: 45.5em;
  left: 2.9em;
}

/* ------ Mobile - Top Area ------ */
@media only screen and (max-width: 400px){
  .title{
    top: 15.5%;
    left: 5%;
    z-index: -5;
  }
  .line{
    height: 0.4em;
    width: 20em; 
    top: 19%;
    left: 3%;
    z-index: -4;
  }
  .circle{
    height: 6em;
    width: 6em;
    top: 41.5%;
    left: 10%;
  }
  .arrowdown{
    position: absolute;
    top: 37em;
    left: 1em;
  }
}

/* ------Background Green------- */

.green-area{
  width: 100%;
  height: 85em;
  background-color: #b7c5c5;
  position: relative;
  top: 47.2em;
  z-index: -1;
  box-sizing: border-box;
  padding: 30px; 
  margin-bottom: 10em;
}
.green-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(8deg);
}
.green-area:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-8deg);
}
.bgimg{
  background-image: url(../images/bg/bgdesktopone.svg);
  width: 100%;
  height: 1034px;
  background-repeat: no-repeat;
  opacity: 70%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

/* ------ Mobile - Background Green ------ */
@media only screen and (max-width: 400px){
  
}
/* ------Articles area------ */

/* #title-article-area{
  position: absolute;
  top: 30em;
  left: 7.8em;
  z-index: 4;
} */
#article-section{
  height: 70em;
  max-width: 65.5em;
  position: absolute;
  top: 60em;
  left: 12.2em;
  display: flex;
  flex-wrap: wrap;
  padding: 1.6em;
}

/* -----------------CARD------------------- */
    
.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 1em;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 6px 12px #b1b3b1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--main-bg-color);
}
.card:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 16px;
  position: absolute;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  color: var(--second-txt-color-color);
  /* margin: 2.4em 1.9em 1.9em 2.5em; */
  margin: 2.4em;
  text-align: left;
}
.text h5{
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 0.5em;
  line-height: 1.3;
}
.text p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.4;
  font-size: 16px;
}
h6 {
  text-transform: uppercase;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 1.2em;
}
#article-section a{
  text-decoration: none;
  color: var(--main-txt-color);
}
.save{
  position: absolute;
  bottom: 2em;
  right: 2em;
  height: 30px;
  width: 20px;
  opacity: 50%;
}

/* --------Quote Area------- */

.quote{
  width: 15em;
  position: absolute;
  top: 63em;
  left: 29.5%;
  font-size: 40px;
  line-height: 1.5;
  font-family: 'montserrat', 'raleway regular', 'helvetica regular', sans-serif;
  /* text-transform: uppercase;  */
  font-weight: 600;
}

.quote span{
  font-size: 23px;
  margin-left: 67%;
  line-height: 3;
  font-family: 'montserrat', 'raleway regular', 'helvetica regular', sans-serif;
  font-weight: 600;
}

/* -------Footer------- */

.black-area{
  width: 100%;
  height: 15em;
  background-color: #1a1a1a;
  position: relative;
  top: 95em;
  box-sizing: border-box;
}
.black-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(6deg);
}
.arrowup{
  position: absolute;
  top: -6em;
  left: 4.8em;
  z-index: 7;
}
.nav-footer{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  position: absolute;
  left: 1em;
  bottom: 6.55em;
  display:flex;
  justify-content: space-between;
  z-index: 7;
}
.nav-footer li{
  margin: 1em 5em 0 0;
  list-style: none;
}
.nav-footer ul li a{
  text-decoration: none;
  color: var(--main-bg-color);  
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}
.social-icons{
  position: absolute;
  top: 3.1em;
  left: 38.7%;
  background-color: transparent;
}
.social-icons a{
  padding: 2em;
  background-color: transparent;
}
.social-icons img:hover{
  background-color: transparent;
}
.subscribe{
  position: absolute;
  right: 3.4em;
  bottom: 6.7em;
}
.subscribe p{
  color: var(--main-bg-color);
  font-size: 18px;
  font-weight: 300;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  letter-spacing: 0.8pt;
  margin-bottom: 0.7em;
}
.subscr-box{
  width: 22em;
  height: 3em;
  border: solid 1px white;
  z-index: 7;
}
.overlaysubscr {
  position: absolute;
  top: 3.4em;
  bottom: 0;
  left: 1em;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
}
.subscr-box:hover .overlaysubscr {
  opacity: 1;
}
.overlaysubscr p{
  color: rgb(128, 126, 126);
  font-size: 14px;
}
.copyright{
  position: absolute;
  bottom: 2em;
  left: 3.5em;
}
.copyright p{
 font-size: 12px;
 color: var(--main-bg-color);
 font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
}


/* ------ Mobile - Animation off ------ */
@media only screen and (max-width: 400px){
  .animationoff{
    display: none;
  }
}