* {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --main-bg-color: #E5E3E3;
  --main-txt-color: #1a1a1a;
  --second-txt-color: #548a89;
}

/* -----Fonts & Sizes------ */

/* magazine-title */
h1{
  font-family: 'montserrat', 'raleway bold', 'helvetica bold', sans-serif;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* article-titles */
h2{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 70px;
  font-weight: 400;
}

/* sub-titles */
h3{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: var(--second-txt-color-color);
}

/* CTA -> Back to top + Articles */
h4{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--second-txt-color-color);
}

/* paragraphs */
p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1.6;
  color: var(--second-txt-color-color);
}

/* captions */
.captions {
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 18px;
  color: var(--second-txt-color-color);
}

a{
  cursor: -moz-grab;
  margin: 0;
}

body{
  min-height: 140em;
  overflow-x: hidden;
}


/* ------Navigation------ */

.logo{
  position: fixed;
  top: 2.4em;
  left: 5em;
  height: 6em;
}
.logo:hover{
  background-color: transparent;
}

nav{
  margin: 2.5em 2em 1.5em auto;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  position: absolute;
  right: 1em; 
}

nav a{
  display: inline;
  margin: 1.5em;
  padding: 2em 0;
  text-decoration: none;
  color: var(--main-txt-color);  
  font-size: 16px;
  text-transform: uppercase;
}



/* ------Top Area------ */

.title{
  position: fixed;
  top: 41%;
  left: 19.7%;
  z-index: -5;
}

.line{
  height: 0.4em;
  width: 60em; 
  background-color: var(--main-txt-color);
  position: fixed;
  top: 60.8%;
  left: 16%;
  z-index: -4;
}

.circle{
  height: 11em;
  width: 11em;
  border-radius: 50%;
  background-color: #1a1a1a;
  position: absolute;
  top: 61.5%;
  left: 44%;
  z-index: -3;
}

/* ------Background Green------- */

.green-area{
  width: 100%;
  height: 85em;
  background-color: #b7c5c5;
  position: relative;
  top: 48.96em;
  z-index: -1;
  box-sizing: border-box;
  padding: 30px; 
  margin-bottom: 10em;
}


.green-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(8deg);
}

.green-area:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  z-index: -2;
  top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-8deg);
}

.bg-img{
  background-image: url(/assets/bg/bg_colors.png);
  width: 100%;
  height: 1034px;
  background-repeat: no-repeat;
  /* background-size: 90%; 
  opacity: 30%; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -6;
}

/* ------Articles area------ */

#title-article-area{
  position: absolute;
  top: 30em;
  left: 7.8em;
  z-index: 4;
}

#article-section{
  height: 70em;
  width: 65.5em;
  position: absolute;
  top: 60em;
  left: 12em;
  display: flex;
  flex-wrap: wrap;
  padding: 1.6em;
}

#article-section img{
  display: inline-block;
  margin: 0.25em 1em;
  box-shadow: 2px 6px 12px #b3b0b0;
}

img:hover{
  background-color: rgb(253, 252, 252);
  opacity: 0.75;
}

a{
  text-decoration: none;
  color: var(--main-txt-color)
}

.quote{
  width: 18em;
  position: absolute;
  top: 64em;
  left: 28%;
  font-size: 40px;
  line-height: 1.5;
}

.quote span{
  font-size: 30px;
}

/* -------Footer------- */


.black-area{
  width: 100%;
  height: 15em;
  background-color: #1a1a1a;
  position: relative;
  top: 95em;
  box-sizing: border-box;
}

.black-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(6deg);
}

.nav-footer{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  position: absolute;
  left: 3em;
  bottom: 5.75em;
  display:flex;
  justify-content: space-between;
  z-index: 7;
}


.nav-footer li{
  margin: 1em 1em 0 0;
  list-style: none;
}

.nav-footer ul li a{
  text-decoration: none;
  color: var(--main-bg-color);  
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;

}

.social-icons{
  position: absolute;
  top: 3.1em;
  left: 36%;
  background-color: transparent;

}
.social-icons a{
  padding: 2em;
  background-color: transparent;
}

.social-icons img:hover{
  background-color: transparent;
}

.subscribe{
  position: absolute;
  right: 6em;
  bottom: 7em;
}

.subscribe p{
  color: var(--main-bg-color);
  font-size: 20px;
  letter-spacing: 0.8pt;
  margin-bottom: 0.5em;
}

.subscr-box{
  width: 22em;
  height: 3em;
  border: solid 1px white;
  z-index: 7;
}