* {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --main-bg-color: #E5E3E3;
  --main-txt-color: #1a1a1a;
  --second-txt-color: #548a89;
}

  /* article-titles */
  h2{
    font-family: ‘montserrat regular’, ‘raleway regular’, ‘helvetica regular’, sans-serif;
    font-size: 60px;
    font-weight: 400;
    max-width: 30%;
  }

  /* sub-titles */
  h3{
    font-family: ‘lucida std roman’, ‘itc stone informal’, Georgia, Times, ‘Times New Roman’, serif;
    font-size: 20px;
    color: var(———second-txt-color-color);
  }

/* CTA -> Back to top + Articles */
h4{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--second-txt-color-color);
}

/* paragraphs */
 p{
  font-family: ‘lucida std roman’, ‘itc stone informal’, Georgia, Times, ‘Times New Roman’, serif;
  font-size: 23px;
  line-height: 1.6;
  max-width: 30%;
  color: var(———second-txt-color-color);
}
/* captions */
.captions {
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 18px;
  color: var(--second-txt-color-color);
}

a{
  cursor: -moz-grab;
  margin: 0;
}

/* ------Navigation------ */
.logo{
  position: fixed;
  top: 2em;
  left: 2.9em;
  height: 5em;
  z-index: 3;
}
.logo:hover{
background-color: transparent;
}

nav{
margin: 2.5em 2em 1.5em auto;
font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
position: fixed;
right: 1em; 
}

nav a{
padding: 2em 0.2em;
text-decoration: none;
color: var(--main-txt-color);  
font-size: 16px;
text-transform: uppercase;
}

.hb{
top: 1.5em;
}

/* --------Article content-------- */
.cover {
  position: absolute;
  width: 50%;
  top: 150px;
  left: 625px;
}

.rectangle {
  position: absolute;
  margin-left: 0;
  top: 7em;
  z-index: 1;
}

.article {
  position: absolute;
  left: 180px;
  top: 310px;
  z-index: 1;
}

.special {
  position: absolute;
  top: 460px;
  left: 180px;
  font-weight: 100;
  font-size: 14px;
}
/* -------Footer------- */

.black-area{
  width: 100%;
  height: 15em;
  background-color: #1a1a1a;
  position: relative;
  top: 95em;
  box-sizing: border-box;
}
.black-area:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(6deg);
}
.arrowup{
  position: absolute;
  top: -6em;
  left: 4.8em;
  z-index: 7;
}
.nav-footer{
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  position: absolute;
  left: 1em;
  bottom: 6.55em;
  display:flex;
  justify-content: space-between;
  z-index: 7;
}
.nav-footer li{
  margin: 1em 5em 0 0;
  list-style: none;
}
.nav-footer ul li a{
  text-decoration: none;
  color: var(--main-bg-color);  
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}
.social-icons{
  position: absolute;
  top: 3.1em;
  left: 38.7%;
  background-color: transparent;
}
.social-icons a{
  padding: 2em;
  background-color: transparent;
}
.social-icons img:hover{
  background-color: transparent;
}
.subscribe{
  position: absolute;
  right: 3.4em;
  bottom: 6.7em;
}
.subscribe p{
  color: var(--main-bg-color);
  font-size: 18px;
  font-weight: 300;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  letter-spacing: 0.8pt;
  margin-bottom: 0.7em;
}
.subscr-box{
  width: 22em;
  height: 3em;
  border: solid 1px white;
  z-index: 7;
}
.overlaysubscr {
  position: absolute;
  top: 3.4em;
  bottom: 0;
  left: 1em;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
}
.subscr-box:hover .overlaysubscr {
  opacity: 1;
}
.overlaysubscr p{
  color: rgb(128, 126, 126);
  font-size: 14px;
}
.copyright{
  position: absolute;
  bottom: 2em;
  left: 3.5em;
  width: 100%;
}
.copyright p{
 font-size: 12px;
 color: var(--main-bg-color);
 font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
}

.greybox {
  background-color: #b3b0b0;
  position: absolute;
  opacity: .35;
  margin-left: 0;
  width: 100%;
  height: 800px;
  top: 372.6em;
  z-index: -2;
}
.greybox #article-section{
  width: 45em;
  position: absolute;
  top: 6em;
  left: 19.8em;
  z-index: 8;
  display: flex;
  justify-content:space-between;
  justify-items: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 300px; 
  display: inline-block;
  box-shadow: 2px 6px 12px #b3b0b0;
  z-index: 5;
  position: relative;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.img1 {
  display: inline-block;
  position: absolute;
  top: 7.5em;
  left: 21.7em;
}
.img2 {
 display: inline-block;
}


.card:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 16px;
  position: absolute;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  color: black;
  /* margin: 2.4em 1.9em 1.9em 2.5em; */
  /* margin: 2.4em; */
  margin-left: 3em;
  margin-top: 3em;
  text-align: left;
}
.text h5{
  font-size: 21px;
  width: 200px;
  font-weight: lighter;
  margin-bottom: 1em;
  line-height: 1.3;
}
.text p{
  font-family: 'lucida std roman', 'itc stone informal', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.4;
  font-size: 16px;
  width: 650px;
  letter-spacing: .3px; 
}
h6 {
  text-transform: uppercase;
  font-family: 'montserrat regular', 'raleway regular', 'helvetica regular', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  margin-top: .8em;
}
a{
  text-decoration: none;
  color: var(--main-txt-color)
}
.other p {
  position: absolute;
  width: 700px;
  top: 261em;
  left:27.5%;
  z-index: 7;
}

